apiVersion: v1
kind: Service
metadata:
  name: {{ include "clickhouse.fullname" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: http
    - name: tcp
      port: {{ .Values.service.tcpPort }}
      targetPort: tcp
  selector:
    {{- include "clickhouse.selectorLabels" . | nindent 4 }}
